<div class='login'>
  <h2>Sign up</h2>
  <input id='sing_up_user_name' name='username' placeholder='Username' type='text'/>
  <input id='sing_up_password' name='password' placeholder='Password' type='password'/>
  <input id='sing_up_button' type='submit' value='Sign up'/>
</div>