<div class='login'>
  <h2>Sign up</h2>
  <input name='username' placeholder='Username' type='text'/>
  <input id='pw' name='password' placeholder='Password' type='password'/>
  <input type='submit' value='Sign up'/>
</div>